.card {
  width: 250px !important;
  display: flexbox;
  padding: 0;
  background-color: #555 !important;
  color: aliceblue;
  border-radius: 20px;

}
.card-img-top{
  width: 250px;
  height: 250px;
  border-radius: 20px 20px 0 0;
}
