/* services.component.css */
.services-container {
  padding-top: 200px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  background-color: #555 !important;
  border-radius: 10px;
  min-height: 175px;
  overflow: hidden;
}

.img-fluid {
  min-height: 175px;
  object-fit: cover;
}

.card-body {
  padding: 10px;

}

.card-title {
  margin: 0;
  font-size: 1.25rem;
  color: aliceblue;
}

.card-text {
  margin: 5px 0;
  color: aliceblue;
  font-size: 14px;
}

.text-muted {
  font-weight: bold;
  color:aliceblue !important
}
