header :root{
  background-color: var(--background);
}
/* footer.component.css */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.bg-black {
  background-color: hsl(240, 10%, 3.9%) !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-zinc-300 {
  color: #d1d5db;
}

.text-zinc-400 {
  color: #9ca3af;
}

.font-bold {
  font-weight: 700;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-7 {
  gap: 1.75rem;
}
