.contentProfissional {
  background-image: url('../../../assets/public/banners/profissionais.webp'); /* Ajuste o caminho da imagem conforme necessário */
  background-size: auto;
  background-position: center;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  text-align: center;
}
.contentAgendar {
  background-image: url('../../../assets/public/banners/principal.webp'); /* Ajuste o caminho da imagem conforme necessário */
  background-size: auto;
  background-position: center;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
}
.contentServico {
  background-image: url('../../../assets/public/banners/servicos.webp'); /* Ajuste o caminho da imagem conforme necessário */
  background-size: auto;
  background-position: center;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  text-align: center;
}





.btn-custom {
  background-color: #28a745; /* Verde */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
}
.btn-custom:hover {
  background-color: #218838;
}
